* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid #000;
  border-radius: 4px;
  resize: vertical;
  opacity: 80%;
}

label {
  letter-spacing: 3px;
  font-weight: bolder;
  color: white;
  padding: 12px 12px 12px 0;
  display: inline-block;
  text-shadow: #000 2.5px 2.5px 1px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  background: rgb(138,46,255);
  background: linear-gradient(153deg, rgba(138,46,255,1) 20%, rgba(204,224,255,1) 69%);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

