<main class="w-full h-full rounded-lg p-6 space-y-12">
  <h1 class="text-4xl font-bold text-gray-800 text-center">TRIPS</h1>

  <!-- Berlin Section -->
  <section id="berlinSection" class="space-y-8">
    <h2 class="text-3xl font-bold text-red-800 text-center">Berlin</h2>
    <article class="flex flex-col md:flex-row items-center gap-6 p-4 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
      <img class="w-full md:w-1/2 h-64 object-cover rounded-lg shadow-lg transition-transform transform hover:scale-105" src="../../../assets/berlin_brandenburg_gate.jpeg" alt="Brandenburg Gate">
      <aside class="w-full md:w-1/2 p-4">
        <h3 class="text-2xl font-semibold text-gray-800 mb-3">Brandenburg Gate</h3>
        <p class="text-gray-600 text-sm mb-4">Lorem ipsum dolor sit amet...</p>
      </aside>
    </article>
  </section>

  <!-- Berovo Section -->
  <section id="berovoSection" class="space-y-8">
    <h2 class="text-3xl font-bold text-red-800 text-center">Berovo</h2>
    <article class="flex flex-col md:flex-row items-center gap-6 p-4 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
      <img class="w-full md:w-1/2 h-64 object-cover rounded-lg shadow-lg transition-transform transform hover:scale-105" src="../../../assets/berovo_hotel_manastir.jpg" alt="Hotel Manastir">
      <aside class="w-full md:w-1/2 p-4">
        <h3 class="text-2xl font-semibold text-gray-800 mb-3">Hotel Manastir</h3>
        <p class="text-gray-600 text-sm mb-4">Lorem ipsum dolor sit amet...</p>
      </aside>
    </article>
  </section>

  <!-- Pehcevo Section -->
  <section id="pehcevoSection" class="space-y-8">
    <h2 class="text-3xl font-bold text-red-800 text-center">Pehcevo</h2>
    <article class="flex flex-col md:flex-row items-center gap-6 p-4 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
      <img class="w-full md:w-1/2 h-64 object-cover rounded-lg shadow-lg transition-transform transform hover:scale-105" src="../../../assets/pehcevo_diabolik_dol.jpg" alt="Diabolik Dol">
      <aside class="w-full md:w-1/2 p-4">
        <h3 class="text-2xl font-semibold text-gray-800 mb-3">Diabolik Dol</h3>
        <p class="text-gray-600 text-sm mb-4">Lorem ipsum dolor sit amet...</p>
      </aside>
    </article>
  </section>
</main>
