<div class="section">
  <div class="container">
    <img class="profile-img" src="../../../assets/profileAssets/profile-pic.jpg" alt="a">
    <div class="lateral-content">
      <div class="name-education">
        <h2>Kevin Stamenkovski</h2>
        <h3>Computer Science Student</h3>
        <h3>(at: IIS L. Einaudi, Alba, Italy)</h3>
      </div>
      <div class="details">
        <h3>Date Of Birth: September 12,2005</h3>
        <h3>Age: {{myAge}}</h3>
        <h3>address: Europe street, Alba(CN), Italy</h3>
        <h3>Email: <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNvNGRBqNsTCWFSMncDmtwMnVNVkGRPnfDPVhmmgpMrlthkGKbzSmvLKsmgztwkXVTjDXB" target="_blank" >Kevin.stamenkovski@gmail.com</a></h3>
        <h3>Phone: +38 338 239 9174</h3>
        <div class="social-icons-list">
          <ul>
            <li>
              <a href="https://www.instagram.com/kevinstamenkovski/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/kevin-stamenkovski-6b3b9a250/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/kevin10355834" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
            </li>
            <li>
              <a href="https://github.com/Kevinstamenkovski" target="_blank"><i class="fa-brands fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
