
.education{
  p{
    color: #2b2b2b;
  }
  h1{
    padding: 15px;
    font-family: "custom font";
    font-size: 50px;
  }
  *{
    padding: 5px;
    font-size: 125%;
  }
  color: #000;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background: rgb(138,46,255);
  background: linear-gradient(153deg, rgba(138,46,255,1) 20%, rgba(204,224,255,1) 69%);
  border-radius: 10px;
  overflow-y: scroll;
}

@font-face {
  font-family: "custom font";
  src: local('assets/external-fonts/Unbounded/Unbounded-VariableFont_wght.ttf') ;
}
