.skill-section{
  height: 100%;
  width: 100%;
  background: rgb(138,46,255);
  background: linear-gradient(153deg, rgba(138,46,255,1) 20%, rgba(204,224,255,1) 69%);
  border-radius: 10px;
  h1{
    padding: 15px;
    font-family: "custom font";
    font-size: 50px;
  }
  ul{
    padding-left: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    grid-gap: 10px;
    li{
      font-size: 50px;
      padding: 5px;
    }
  }
}
aside{
  font-size: 40%;
}

@font-face {
  font-family: "custom font";
  src: local('assets/external-fonts/Unbounded/Unbounded-VariableFont_wght.ttf') ;
}
