<section class="skill-section">

  <h1>SKILLS</h1>


  <ul>
    <li>
      <i title="HTML5" class="fa-brands fa-html5"></i> <!--HTML-->
      <aside>html</aside>
    </li>
    <li>
      <i title="CSS" class="fa-brands fa-css3-alt"></i> <!--CSS-->
      <aside>css</aside>
    </li>
    <li>
      <i title="SASS" class="fa-brands fa-sass"></i> <!--SCSS-->
      <aside>sass</aside>
    </li>
    <li>
      <img style="-webkit-user-select: none" src="assets/Tailwind_CSS_Logo.jpg" alt="tailwind logo" title="Tailwind" height="70px" width="70px"> <!--Tailwind css-->
      <aside>tailwind</aside>
    </li>
    <li>
      <i title="JavaScript" class="fa-brands fa-square-js"></i> <!--JavaScript-->
      <aside>javascript</aside>
    </li>
    <li>
      <aside style="-webkit-user-select: none">&nbsp;<br></aside>
      <i title="TypeScript" style="-webkit-user-select: none">Ts</i> <!--TypeScript-->
      <aside style="-webkit-user-select: none">&nbsp;<br></aside>
      <aside>typescript</aside>
    </li>
    <li>
      <i title="Angular" class="fa-brands fa-angular"></i> <!--Angular-->
      <aside>angular</aside>
    </li>
    <li>
      <i title="mySQL" class="fa-solid fa-database"></i> <!--mySQL-->
      <aside>mysql</aside>
    </li>
    <li>
      <i title="Assembly" class="fa-solid fa-microchip"></i> <!--Assembly-->
      <aside>assembly</aside>
    </li>
    <li>
      <i title="Git" class="fa-brands fa-git"></i> <!--Git-->
      <aside>git</aside>
    </li>
    <li>
      <i title="Python" class="fa-brands fa-python"></i> <!--Python-->
      <aside>python</aside>
    </li>
    <li>
      <i title="Java" class="fa-brands fa-java"></i> <!--Java-->
      <aside>java</aside>
    </li>
    <li>
      <i title="Wordpress" class="fa-brands fa-wordpress"></i> <!--Wordpress-->
      <aside>wordpress</aside>
    </li>
    <li>
      <i title="C/C++" class="fa-solid fa-c"></i> <!--C-->
      <aside>c/c++</aside>
    </li>

  </ul>


</section>
